* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;

    overflow-x: hidden;
}

#cabecalho {
    display: flex;
    flex-direction: row;
    width: 100%;
    min-height: 100px;
    height: auto;
    align-items: center;
    background-color: #FED766;

}

#titulo {
    font-size: 22pt;
    font-weight: 600;
    text-decoration: none;
    color: #000;
    

}

.dtFigma {
    -webkit-text-stroke-width: 4px;
    /* largura da borda */
    -webkit-text-stroke-color: #000;
    /* cor da borda */
    font-size: 54pt;
    font-family: "Poppins", sans-serif;
}

main {
    width: 1366px;
    height: 455px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    background-image: url("../img/background.jpeg");
    border-top: 4px solid black;
    border-bottom: 4px solid black;
}

footer {
    width: 100%;
    height: 86px;
    background-color: #FED766;
    display: flex;
    flex-direction: row;
    align-items: center;
}

#back {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: transparent;

}

#c1 {
    color: #F24E1E;
}

#c2 {
    color: #A259FF;
}

#c3 {
    color: #0ACF83;
}

#c4 {
    color: #FF7262;
}

#c5 {
    color: #1ABCFE;
}

nav {

    margin-left: 44%;
    font-weight: 400;
}

nav ul {
    display: flex;
    gap: 20px;
    font-size: 13pt;
}

.nvg {
    list-style: none;
}

.nvg a {
    position: relative;
    text-decoration: none;
    color: #000;
}

.nvg a:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 0px;
    height: 0px;
    background-color: #000;
    border-radius: 50%;
    transition: all 0.5s ease;
}

a:hover:after {
    height: 2px;
    width: 100%;
    /* Expande a largura para 100% do link */
    border-radius: 0;
    /* Remove o arredondamento para formar a barra */
}
#titulo {
    position: relative;
    text-decoration: none;
    color: #000;
}

#titulo:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 0px;
    height: 0px;
    background-color: #000;
    border-radius: 50%;
    transition: all 0.5s ease;
}

#titulo:hover:after {
    height: 2px;
    width: 100%;
    /* Expande a largura para 100% do link */
    border-radius: 0;
    /* Remove o arredondamento para formar a barra */
}


#container {
    display: flex;
    flex-direction: row;
    background-color: transparent;
}

@keyframes exemplo {
    0% {
        transform: rotate(360deg);      
    }
    25% {
        transform: rotate(0deg);
    }
    50% {
        transform: rotate(360deg);
    }
   
}

.logo {
    animation: exemplo 1s alternate;
}
.Sq{
    width: 595px;
    height: 339px;    
    border-radius: 10px;
}
#painelLogo{
    width: 339px;
    height: 339px;
    background-color: white;
    border-radius: 80px;
    border: 5px solid black;
}
#logoInt{
 width: 317px;   
 height: 317px;
 
 
}
#introd{
    justify-content: space-around;
}
#sq1{
    background-color: #F24E1E;
}
#sq2{
    background-color: #0ACF83;
}
#sq3{
background-color: #FFBF1B;
}
#sq4{
    background-color: #1ABCFE;
}
#sq5{
    background-color: #A259FF;
}
#cont{
    margin-left: 80%;
}